{{!-- app/templates/application.hbs --}}
<div class="menu">
  {{#if session.isAuthenticated}}
    <button class="ui button" {{action 'invalidateSession'}}> <a  >Logout</a></button>
  {{else}}
    {{#link-to 'login'}} <button class="ui button">Login</button> {{/link-to}}
  {{/if}}
</div>
{{outlet}}